<div class="rightbar-user-card">
  {{#if user}}
    <div class="user-card-wrapper">
      {{#if user.profile_background_upload_url}}
        <div
          class="user-banner has-banner"
          style="background-image: url({{user.profile_background_upload_url}})"
        >
        </div>
      {{else}}
        <div class="user-banner no-banner">
          {{avatar user}}
        </div>
      {{/if}}

      <div class="user-card-content">
        <div class="user-avatar">
          <a href="{{user.summary_url}}">
            {{avatar user}}
          </a>
        </div>
        <div class="user-meta">

          <div class="user-display-name">
            <a href="{{user.summary_url}}">
              {{#if user.name}}
                {{user.name}}
              {{else}}
                @{{user.username}}
              {{/if}}
            </a>
          </div>

          {{#if user.name}}
            <div class="user-username">
              <a href="{{user.summary_url}}">
                @{{user.username}}
              </a>
            </div>
          {{/if}}

          <div class="user-title">
            {{user.title}}
          </div>

        </div>

        <div class="user-bio">
          {{htmlSafe user.bio_cooked}}
        </div>
      </div>
    </div>
  {{/if}}

</div>